@font-face {
    font-family: "PT Sans";
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: "PT Sans";
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}
.vector-heder{
    background-image: url(../images/vector-heder.svg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 57px;
    background: yellowgreen;
}
.advantages-item .house{
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
}
.advantages-item .burger{
    background-image: url(../images/burger.svg);
    background-repeat:no-repeat;
}
.advantages-item .souvenir{
    background-image: url(../images/souvenir.svg);
    background-repeat: no-repeat;
}
.mailing-list{
    background-image: url(../images/canyon.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 412px;
}
.big-inner-header{
    background-image: url(../images/catalog-background-header.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
}