@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    min-height: 100%;    
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;
}
.main-container{
    flex-grow: 1;
}
/* это ограничитель контейнер в майне */
.page-container{
    width: 1200px;
    margin: 0 auto;
}
.page-header{
    color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}
.page-footer{
    width: 1200px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.navigation-list{
    width: 345px;
    margin: 0;
    padding: 0;
}
.navigation-user{
    max-width: 265px;
    margin-left: auto;
}
.navigation-link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.navigation-link-want-here{
    max-width: 160px;
    height: 38px;
    background: #756257;
    border-radius: 4px;
    padding: 9px 15px;
    color: #fff;
    opacity: 0.8;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.welcome-slogans{
    background-color: #e5e5e5;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 485px;
}
.big-slogans{
    display: block;
    margin: 0 auto;
}
.advantages-list{
    flex-grow: 1; 
    padding-left: 0;
}
.advantages-item{
    width: 400px;
}
/* самый первый верхний блок */
.advantages-item-first-block{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
/* аторой блок */
.advantages-item-second-block{
    display: flex;
    width: 1200px;
    
}
/* третий блок */
.advantages-item-third-block{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 384px;/* height: 384px;
    не понятно, тут ли надо высоту делать???  */

}
.advantages-inner-list{
    background: #FFFFFF;
    width: 1200px;
    height: 384px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.advantages-item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    
}
.advantages-item-number{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}
.advantages-item-text{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.advantages-item-house{
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    width: 400px;
}
.advantages-item-burger{
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
}
.advantages-item-souvenir{
    background-image: url(../images/souvenir.svg);
    background-repeat: no-repeat;
}
.advantages-item-pale-blue{
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-navy-blue{
    background-color: #83B3D3;
}
.advantages-item-block{
    background-color: #83B3D3;
    width: 400px;
    margin-right: 0 auto;
}
.advantages-item-block h3{
    color: #FFFFFF;
}
.advantages-item-block span{
    color: #FFFFFF;
}
.advantages-item-block p{
    color: #FFFFFF;
}
.advantages-item-blue{
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-black-blue{
    background-color: rgba(131, 179, 211, 0.2);
}
.mailing-list{
    background-color: #FFFFFF;
}
.mailing-list h2 {
    color:#000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.mailing-list p {
    font-size: 22px;
    line-height: 26px;
    color:#000000;
}
.mailing-list-background {
    background-image: url(../images/canyon.jpg);
    background-repeat: no-repeat;
    background-color: blue;
}

.mailing-list-background h2 {
    color: #FFFFFF;
}

.mailing-list-background p {
    color: #FFFFFF;
}
.hotel-search-h2{
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.hotel-search p{
    font-style: normal;
    font-weight:400;
    font-size: 22px;
    line-height: 26px;
}
.hotel-search-a{
    max-width: 575px;
    height: 60px;
    padding: 15px 150px;
    border-radius: 10px;
    background: #756257;
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff ;
}
.email-type{
    max-width: 600px;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
    border: none;
}

.form-button{
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color:#ffffff;
    background: #83B3D3;
    max-width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.telephone a{
    font-style: normal;
    font-weight:400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.big-inner-header{
    background: #e5e5e5;
    background-image: url(../images/catalog-background-header.jpg);
    background-repeat: no-repeat;
}
.apply{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: #83B3D3;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    border: none;
    text-transform: uppercase;
}
/* специально окрасил в серый чтобы не потерять, потом поправю*/
.reset{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background:#e2e2e7;
    border: none;
}



/* тут все с каталога*/
.inner-header-title{
    font-weight:700;
    font-size: 60px;
    line-height: 78px;
    color:#ffffff;
}
.hotels{
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}
.catalog-filter-title{
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 26px;
    color:#ffffff;
}

.catalog-filter-item{
    font-style: normal;
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
}
/*но вот проблема, списки белые и на фоне их не видно, а как же тогда норм вставить?*/
.catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.center p{
    font-weight:700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}
.sort-type{
    font-style: normal;
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
}

.catalog-list-item-min{
    font-style: normal;
    font-weight:700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.location-details{
    color: #333333;
    font-size: 18px;
    line-height: 23px;
}
.more{
    background: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 10px 17px;
    border-radius: 4px;
    width: 134px;
    height: 38px;
}
.favorites{
    background: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    width: 142px;
    height: 38px;
}
.catalog-list-item-rating{
    background: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding: 10px 33px;
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 38px;
}
.catalog-item-button{
    width: 620px;
    height: 60px;
    background: #83B3D3;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.number-hotels{
    font-size: 18px;
    line-height: 23px;
}
.pagination-item{
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
}
.pagination-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #ffffff;
    background-color: #83B3D3;
}
