@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    min-height: 100%;    
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    background-color:#E5E5E5;
}

/* это ограничитель контейнер в майне */
.main-container{
    flex-grow: 1;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}
.page-header{
    background-color:#ffffff;
    width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
    box-sizing:border-box;
    display: flex;
}
.logo{
    width: 140px;
}
.page-footer{
    width: 1200px;
    margin: 0 auto;

}
.navigation{
    display: flex;
    flex-grow: 1;
}
.navigation-list{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.navigation-item{
    list-style: none;
}
.navigation-user{
    max-width: 300px;
    margin-left: auto;
}
.navigation-link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.navigation-link-want-here{
    max-width: 160px;
    height: 38px;
    background: #756257;
    border-radius: 4px;
    padding: 9px 15px;
    color: #fff;
    opacity: 0.8;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.welcome-slogans{
    background-color: #e5e5e5;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    height: 485px;
}
.big-slogans{
    display: block;
    margin: 0 auto;
}
.advantages{
    text-align: center;
}
.advantages-top-header{
    margin: 0 auto;
    padding: 64px 240px 80px;
    background-color: #ffffff;
}
.advantages-top-header-h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 31px;
}
.advantages-top-header-p{
    width: 720px;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}
.advantages-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.advantages-item{

}
.advantages-inner-list{
    background: #FFFFFF;
    width: 1200px;
    height: 384px;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.advantages-item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    
}
.advantages-item-number{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}
.advantages-item-text{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.advantages-item-house{
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-burger{
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
    width: 400px;
}
.advantages-item-souvenir{
    background-image: url(../images/souvenir.svg);
    background-repeat: no-repeat;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-navy-blue{
    background-color: #83B3D3;
    width: 1200px;
    display: flex;
    
}
.advantages-item-navy-blue h3{
    color: #FFFFFF;
}
.advantages-item-navy-blue span{
    color: #FFFFFF;
}
.advantages-item-navy-blue p{
    color: #FFFFFF;
}
.advantages-item-blue{
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.advantages-item-black-blue{
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.mailing-list{
    background-color: #FFFFFF;
    text-align: center;
    padding: 94px 200px;
}
.mailing-list h2 {
    color:#000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.mailing-list p {
    margin: 0 auto;
    width: 475px;
    font-size: 22px;
    line-height: 26px;
    color:#000000;
    margin-bottom: 46px;
}
.mailing-list-background {
    background-image: url(../images/canyon.jpg);
    background-repeat: no-repeat;
    background-color: blue;
}

.mailing-list-background h2 {
    color: #FFFFFF;
}

.mailing-list-background p {
    color: #FFFFFF;
}
.hotel-search{
   text-align: center;  
}
.hotel-search-block{
    background-color: #ffffff;
    padding: 92px 312px;
}
.hotel-search-h2{
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.hotel-search p{
    font-style: normal;
    font-weight:400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 56px;
}
/* не могу понять как выпрямить кнопку по центру в блоке */
.hotel-search-a{
    max-width: 575px;
    height: 60px;
    padding: 15px 150px;
    border-radius: 10px;
    background: #756257;
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff ;
}
.email-type{
    max-width: 600px;
    height: 60px;
    border-radius: 10px 0px 0px 10px;
    background: #F2F2F2;
    border: none;
}

.form-button{
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color:#ffffff;
    background: #83B3D3;
    max-width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
/* ТУТ ВЕСЬ НИЖНИЙ ОТДЕЛ  */
.page-footer-container{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
}
.social-list{
    display: flex;
    justify-content: space-between;
}
.telephone a{
    font-style: normal;
    font-weight:400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.big-inner-header{
    background: #e5e5e5;
    background-image: url(../images/catalog-background-header.jpg);
    background-repeat: no-repeat;
}
.apply{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: #83B3D3;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    border: none;
    text-transform: uppercase;
}
/* специально окрасил в серый чтобы не потерять, потом поправю*/
.reset{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background:#e2e2e7;
    border: none;
}
/* тут все с каталога*/
.inner-header-title{
    font-weight:700;
    font-size: 60px;
    line-height: 78px;
    color:#ffffff;
}
.hotels{
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}
.catalog-filter{
    display: flex;
}

.catalog-filter-title{
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 26px;
    color:#ffffff;
}

.catalog-filter-item{
    font-style: normal;
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.center p{
    font-weight:700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}
.sort-type{
    font-style: normal;
    font-weight:400;
    font-size: 18px;
    line-height: 23px;
}

.catalog-list-item-min{
    font-style: normal;
    font-weight:700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.location-details{
    color: #333333;
    font-size: 18px;
    line-height: 23px;
}
.more{
    background: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 10px 17px;
    border-radius: 4px;
    width: 134px;
    height: 38px;
}
.favorites{
    background: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    width: 142px;
    height: 38px;
}
.catalog-list-item-rating{
    background: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding: 10px 33px;
    border-radius: 4px;
    border: none;
    width: 160px;
    height: 38px;
}
.catalog-item-button{
    width: 620px;
    height: 60px;
    background: #83B3D3;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 30px 290px;
}
.list-hotels{
    display: flex;
}
.number-hotels{
    font-size: 18px;
    line-height: 23px;
}
.pagination-item{
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    margin-right: 8px;
}
.pagination-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #ffffff;
    background-color: #83B3D3;
}
.center{
    display: flex;
    justify-content: space-between;
}
.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    list-style: none;
}
.catalog-list-item{
    width: 340px;
    margin-right: 18px;
}
.catalog-list-item:nth-child(3n){
    margin-right: 0;
}
.container{
    width: 1056px;
    margin: 0 auto;
}
.max-center{
    padding: 0 72px;
}
















.pagination-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
}
.pagination{
    display: flex;
    justify-content: space-between;
}