.favorites{
    background-image: url(../images/favorite.svg);
    background-repeat: no-repeat;
}
.big-slogans{
    background-image: url(../images/welcome.svg);
    background-repeat: no-repeat;
}
.vector-heder{
    background-image: url(../images/vector-heder.svg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 57px;
    background: yellowgreen;
}





.homsmall{
    background: #000;
}
.nav-link{
    background: #000;
}


.advantages-item .house{
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
}
.advantages-item .burger{
    background-image: url(../images/burger.svg);
    background-repeat:no-repeat;
}
.advantages-item .souvenir{
    background-image: url(../images/souvenir.svg);
    background-repeat: no-repeat;
}
.mailing-list{
    background: #000;
    background-image: url();
    background-repeat: no-repeat;
    width: 1200px;
    height: 412px;
}